<footer>
    <span>
      &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name | escaper }}      
      <a rel="me" href="https://twitter.com/minomartiniak" title="{{ site.twitter_username | escape }}">
        <span class="fa fa-twitter" aria-label="Twitter"></span>
      </a>
      <a rel="me" href="https://linkedin.com/in/milanmartiniak" title="Milan Martiniak">
        <span class="fa fa-linkedin" aria-label="LinkedIn"></span>
      </a>
    </span>
    <div class="footer-col">
      <p>{{ site.description | escape }}</p>
    </div>
</footer>