body{
    background-color: #121212;
}

.nav {
    box-shadow: 0 2px 2px -2px rgba(255,255,255,.15) !important;
}

.catalogue-title{
    color: rgba(255, 255, 255, 0.87) !important;
}

.catalogue-time{
    color: rgba(255, 255, 255, 0.38) !important;
}

.nav a {
    color: rgba(255, 255, 255, 0.38) !important;
}

.nav-title{
    color: rgba(255, 255, 255, 0.38) !important;
}

.highlighter-rouge {
    background-color: #f8f8f8;
}

pre>code {
    background-color: #f8f8f8;
}

pre {
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
}

.post-title {
    font-size: 2rem !important;
    text-align: left !important;
}

.social {
    max-height: 16px;
    max-width: 16px;
}

.post-header{
    font-size: 14px;
}