.highlighter-rouge {
    background-color: #f8f8f8;
}

pre>code {
    background-color: #f8f8f8;
}

pre {
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
}

.post-title {
    font-size: 2rem !important;
    text-align: left !important;
}

.social {
    max-height: 16px;
    max-width: 16px;
}

.post-header{
    font-size: 14px;
}