<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    <!-- head stuff-->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&amp;display=swap" rel="stylesheet">
    <meta property="og:image" content="/assets/images/swallowpoll.png">
    <!-- IMPORTANT -->
    <script src="https://use.fontawesome.com/ee196462b9.js"></script>
</head>

{%- include head.html -%}

<body>

    {% include navigation.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>