<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    <!-- head stuff-->

    <meta name="keywords"
        content="online polls, poll creator, survey tool, meeting, scheduling, dates, organizing, calendar, feedback, audience, business, organization, individual, web app, free, voting, blog, news">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&amp;display=swap"
        rel="stylesheet">
    <meta property="og:image" content="https://blog.swallowpoll.com/assets/images/swallowpoll.png">

    <script src="https://use.fontawesome.com/ee196462b9.js"></script>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
</head>

{%- include head.html -%}

<body>

    {% include navigation.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>